<nav class="navbar navbar-default navbar-fixed-left" role="navigation">
	<ul class="nav navbar-nav">
      {% for link in site.navigation %}
        {% assign current = '' %}
        {% if page.url == link.url %}
          {% assign current = 'active' %}
        {% endif %}

        <li class="{{ current }}">
          <a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
          
          {% if page.collection == link.collname %}
        
            {% assign pages = site.pages | where: 'collection', page.collection | sort: 'name' %}
            
            <ul class="subnav">
            {% for p in pages %}
              
              {% assign current = '' %}
              {% if page.url == p.url %}
                {% assign current = 'active' %}
              {% endif %}
              
              <li class="{{ current }}"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
              
            {% endfor %}
          
            </ul>
          {% endif %}
          
          
        </li>
      {% endfor %}
      
      
  </ul>

</nav>
