<nav class="navbar navbar-default navbar-fixed-left" role="navigation">
  <ul class="nav navbar-nav">
    {% comment %}
    {% for link in site.navigation %}
      {% assign current = '' %}
      {% if page.url == link.url %}
        {% assign current = 'active' %}
      {% endif %}
      <li class="{{ current }}">
        <a href="{{ link.url }}">{{ link.text }}</a>
      </li>
    {% endfor %}
    {% endcomment %}

    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/63-3/">SP 800-63-3</a></li>
		<ul>
			<li><a href="{{ site.baseurl }}/63-3/process">Process Flow</a></li>
			<li><a href="{{ site.baseurl }}/63-3/acceptance">Risk Accpetance</a></li>
			<li><a href="{{ site.baseurl }}/63-3/rmf">Risk Management</a></li>
			<li><a href="{{ site.baseurl }}/63-3/key_stakeholders">Key Stakeholders</a></li>
		</ul>
    <li><a href="{{ site.baseurl }}/63A/">SP 800-63A</a></li>
    <li><a href="{{ site.baseurl }}/63B/">SP 800-63B</a></li>
    <li><a href="{{ site.baseurl }}/63C/">SP 800-63C</a></li>
    <li>
      <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/issues/" class="icon">Comment</a>
      <a href="{{ site.baseurl }}/comment_help.html" class="icon icon-fa">
        <i class="fa fa-question-circle" title="Get help with leaving a comment" aria-hidden="true"></i>
        <span class="sr-only">Get help with leaving a comment</span>
      </a>
    </li>
  </ul>
</nav>
